/* --- Variables --- */
$verde: #dcf8c6;
$gris: #eeeeee;
$borde: #dbdbdb;
$icons: #777777;

/* --- FONDO --- */
body {
	background: -moz-linear-gradient(top, rgba(0,150,135,1) 0%, rgba(0,150,135,1) 12%, rgba(219,219,219,1) 12%, rgba(219,219,219,1) 100%);
	background-repeat: no-repeat;
	padding: 40px 0;
	height: 631px;
}

img {
	width: 45px;
	height:45px;
	border-radius: 45px;
}	
/* --- CUADRO GRANDE --- */


/* --- CUADRO CONTACTOS --- */
.cuadro-contacto-contenedor {
	height: auto;
	width: 338px;
	z-index: 2;
	position: relative;
	.header-contacto {
		background-color: $gris;
		height: 65px;
		width: 338px;
		padding: 10px;
		border-bottom: 1px solid $borde;
		.icons-contacto {
			float: right;
			margin-top: 10px;
		}
	}
	.cuadro-contacto {
		background-color: white;
		height: 65px;
		width: 320px;
		border-bottom: 1px solid $borde;
	}
}



.icon-message {
	margin-right: 10px;
	font-size: 20px;
	color: $icons;
}

.buscar {
	height: 65px;
	width: 338px;
	background-color: white;
	text-align: center;
	padding-top: 15px;
	border-bottom: 1px solid $borde;
	margin: 0 auto;
	position: relative;
	i.glyphicon-search {
		font-size: 14px;
		position: absolute;
		padding: 22px 10px;
		pointer-events: none;
		color: $borde;
	}

	input.buscar-input {
		width: 90%;
		color: $borde;
		padding: 5px 5px;
		padding-left: 30px;
		border-radius: 5px;
		border: 1px solid $borde;
	}
}

	

.contactos {
	width: 337px;
	height: 100%;
	max-height: 406px;
	overflow: auto;
	.cuadro-contacto {
		padding: 7px;
			.foto-mensaje-perfil {
				float: left;
				margin-right: 10px;
			}
			.nombre-contacto {
			font-size: 14px;
			color: #49484D;
			padding-top: 5px;
		}

		.estado {
			line-height: 0px;
			color: grey;
			font-size: 12px;
		}

		.hora-fecha {
			text-align: right;
			margin-top: -37px;
			color: #49484D;
			font-size: 12px;
		}
	}
	
}

	



/* --- CUADRO MENSAJE --- */

.contacto-mensaje {
	background-color: $gris;
	width: 100%;
	height: 65px;
	padding: 10px;
	border-bottom: 1px solid $borde;
	border-left: 1px solid $borde;
	.foto-mensaje-perfil {
		float: left;
		margin-right: 10px;
	}
	.nombre-contacto-mensaje {
		font-size: 18px;
		color: #49484D;
	}
	.contactos-hablando {
		line-height: 1px;
		color: #49484D;
	}
	.icons {
		float: right;
		margin-top: -40px;
	}
}



i {
	font-size: 20px;
	color: $icons;
	.icon-attachment {
		margin-right: 10px;
	}
}


.mensajes {
	background-image: url(../image/chat-panel-bg.png);
	background-color: $gris;
	background-repeat: repeat;
	width: 100%;
	height: 100%;
	max-height: 400px;
	padding: 20px 20px 0 20px;
	overflow: auto;
	z-index: 1;
	.mensaje {
		background-color: white;
		height: 65px;
		width: 300px;
		border-radius: 10px;
		margin: 5px 0;
		padding: 10px;
		clear: both;
		.azul {
			color: #7AC6FC;
		}

		.rosa {
			color: #FC448B;
		}

		.verde {
			color: #74EFAD;
		}
		.cafe {
			color:#BC6C2C;
		}
	}
	.mensaje-respuesta1 {
		background-color: $verde;
		height: 50px;
		width: 230px;
		border-radius: 10px;
		margin: 5px 0;
		padding: 10px;
		float: right;
	}

	.mensaje-respuesta2 {
		background-color: $verde;
		height: 50px;
		width: 170px;
		border-radius: 10px;
		margin: 5px 0;
		padding: 10px;
		margin-left: 78%;
		float: right;
	}
	.fecha {
		text-align: right;
		font-size: 12px;
		margin-top: -12px;
	}
}

	

.escribir-mensaje {
	background-color: $gris;
	width: 100%;
	height: 100%;
	padding: 20px 10px;
	.icon-insert_emoticon {
		margin: 0 10px;
	}

	input.escribir {
		width: 85%;
		padding: 5px 5px;
		border-radius: 5px;
		border: none;
	}

	.icon-mic {
		margin: 0 10px;
	}

	.icon-mensaje-down {
		font-size: 30px;
		color: $icons;
		vertical-align: middle;
	}
}

	
