/* --- Variables --- */
/* --- FONDO --- */
body {
  background: -moz-linear-gradient(top, #009687 0%, #009687 12%, #dbdbdb 12%, #dbdbdb 100%);
  background-repeat: no-repeat;
  padding: 40px 0;
  height: 631px; }

img {
  width: 45px;
  height: 45px;
  border-radius: 45px; }

/* --- CUADRO GRANDE --- */
/* --- CUADRO CONTACTOS --- */
.cuadro-contacto-contenedor {
  max-height: 567px;
  min-height: 537px;
  width: 338px;
  z-index: 2;
  position: relative;
  background-color: white; }
  .cuadro-contacto-contenedor .header-contacto {
    background-color: #eeeeee;
    height: 65px;
    width: 338px;
    padding: 10px;
    border-bottom: 1px solid #dbdbdb; }
    .cuadro-contacto-contenedor .header-contacto .icons-contacto {
      float: right;
      margin-top: 10px; }
  .cuadro-contacto-contenedor .cuadro-contacto {
    background-color: white;
    height: 65px;
    width: 320px;
    border-bottom: 1px solid #dbdbdb; }

.icon-message {
  margin-right: 10px;
  font-size: 20px;
  color: #777777; }

.buscar {
  height: 65px;
  width: 338px;
  background-color: white;
  text-align: center;
  padding-top: 15px;
  border-bottom: 1px solid #dbdbdb;
  margin: 0 auto;
  position: relative; }
  .buscar i.glyphicon-search {
    font-size: 14px;
    position: absolute;
    padding: 22px 10px;
    pointer-events: none;
    color: #dbdbdb; }
  .buscar input.buscar-input {
    width: 90%;
    color: #dbdbdb;
    padding: 5px 5px;
    padding-left: 30px;
    border-radius: 5px;
    border: 1px solid #dbdbdb; }

.contactos {
  width: 337px;
  height: 100%;
  max-height: 406px;
  overflow: auto; }
  .contactos .cuadro-contacto {
    padding: 7px; }
    .contactos .cuadro-contacto .foto-mensaje-perfil {
      float: left;
      margin-right: 10px; }
    .contactos .cuadro-contacto .nombre-contacto {
      font-size: 14px;
      color: #49484D;
      padding-top: 5px; }
    .contactos .cuadro-contacto .estado {
      line-height: 0px;
      color: grey;
      font-size: 12px; }
    .contactos .cuadro-contacto .hora-fecha {
      text-align: right;
      margin-top: -37px;
      color: #49484D;
      font-size: 12px; }


.cuadro-mensaje {
  max-height: 500px;
  width: 100%;
  z-index: 1;
  position: relative;
}
/* --- CUADRO MENSAJE --- */
.contacto-mensaje {
  background-color: #eeeeee;
  width: 100%;
  height: 65px;
  padding: 10px;
  border-bottom: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb; }
  .contacto-mensaje .foto-mensaje-perfil {
    float: left;
    margin-right: 10px; }
  .contacto-mensaje .nombre-contacto-mensaje {
    font-size: 18px;
    color: #49484D; }
  .contacto-mensaje .contactos-hablando {
    line-height: 1px;
    color: #49484D; }
  .contacto-mensaje .icons {
    float: right;
    margin-top: -40px; }

i {
  font-size: 20px;
  color: #777777; }
  i .icon-attachment {
    margin-right: 10px; }

.mensajes {
  background-image: url(../image/chat-panel-bg.png);
  background-color: #eeeeee;
  background-repeat: repeat;
  width: 100%;
  height: 400px;
  padding: 20px 20px 0 20px;
  overflow: auto;
  z-index: 1;  }
  .mensajes .mensaje {
    background-color: white;
    height: 65px;
    width: 300px;
    border-radius: 10px;
    margin: 5px 0;
    padding: 10px;
    clear: both; }
    .mensajes .mensaje .azul {
      color: #7AC6FC; }
    .mensajes .mensaje .rosa {
      color: #FC448B; }
    .mensajes .mensaje .verde {
      color: #74EFAD; }
    .mensajes .mensaje .cafe {
      color: #BC6C2C; }
  .mensajes .mensaje-respuesta1 {
    background-color: #dcf8c6;
    height: 50px;
    width: 230px;
    border-radius: 10px;
    margin: 5px 0;
    padding: 10px;
    float: right; }
  .mensajes .mensaje-respuesta2 {
    background-color: #dcf8c6;
    height: 50px;
    width: 170px;
    border-radius: 10px;
    margin: 5px 0;
    padding: 10px;
    margin-left: 78%;
    float: right; }
  .mensajes .fecha {
    text-align: right;
    font-size: 10px;
    margin-top: -12px;
    color: grey; }

.escribir-mensaje {
  background-color: #eeeeee;
  width: 100%;
  height: 100%;
  padding: 20px 10px; }
  .escribir-mensaje .icon-insert_emoticon {
    margin: 0 10px; }
  .escribir-mensaje input.escribir {
    width: 85%;
    padding: 5px 5px;
    border-radius: 5px;
    border: none; }
  .escribir-mensaje .icon-mic {
    margin: 0 10px; }
  .escribir-mensaje .icon-mensaje-down {
    font-size: 30px;
    color: #777777;
    vertical-align: middle; }


/* Icono adjuntar archivo */
.element {
  display: inline-flex;
  align-items: center;
}
.element i:hover {
  opacity: 0.6;
  cursor: pointer;
}
.element input {
  display: none;
}
/*emojis*/
.emojis{
  background-color:#F3FFF2;
  padding:10px 0px;
  border-radius:10px ;
  text-align:center;
  top:280px;
  margin-left:30px;
  width:40%;
  
}
.emojis .emociones{
    margin-left:15px;
    margin-right: 15px;
    margin-top:10px;
    box-shadow:0px 2px 7px #000;
    width:30px;
    height:30px; 
  }
