/* --- FONDO --- */
body {
  background: -moz-linear-gradient(top, #009687 0%, #009687 12%, #dbdbdb 12%, #dbdbdb 100%);
  background-repeat: no-repeat;
  padding: 40px 0; }

img {
  width: 45px;
  height: 45px;
  border-radius: 45px; }

/* --- CUADRO GRANDE --- */
/* --- CUADRO CONTACTOS --- */
.cuadro-contacto-contenedor {
  height: auto;
  width: 100%;
  margin-right: 5px; }
  .cuadro-contacto-contenedor .header-contacto {
    background-color: #DCDCDC;
    height: 65px;
    width: 338px;
    padding: 10px;
    border-bottom: 1px solid #B0B0B0; }
    .cuadro-contacto-contenedor .header-contacto .icons-contacto {
      float: right;
      margin-top: 10px; }
  .cuadro-contacto-contenedor .cuadro-contacto {
    background-color: white;
    height: 65px;
    width: 320px;
    border-bottom: 1px solid #B0B0B0; }

.icon-message {
  margin-right: 10px; }

.buscar {
  height: 65px;
  width: 338px;
  background-color: white;
  text-align: center;
  padding-top: 15px;
  border-bottom: 1px solid #B0B0B0;
  margin: 0 auto; }
  .buscar i.icon-search {
    font-size: 14px; }
  .buscar input.buscar-input {
    width: 90%;
    color: #B0B0B0;
    padding: 5px 5px;
    border-radius: 5px;
    border: 1px solid #B0B0B0; }

.contactos {
  width: 337px;
  height: 100%;
  max-height: 400px;
  overflow: auto; }
  .contactos .cuadro-contacto {
    padding: 7px; }
    .contactos .cuadro-contacto .foto-mensaje-perfil {
      float: left;
      margin-right: 10px; }
    .contactos .cuadro-contacto .nombre-contacto {
      font-size: 14px;
      color: grey;
      padding-top: 5px; }
    .contactos .cuadro-contacto .estado {
      line-height: 0px;
      color: grey;
      font-size: 12px; }
    .contactos .cuadro-contacto .hora-fecha {
      text-align: right;
      margin-top: -37px;
      color: #49484D;
      font-size: 12px; }

/* --- CUADRO MENSAJE --- */
.contacto-mensaje {
  background-color: #DCDCDC;
  width: 100%;
  height: 65px;
  padding: 10px;
  border-bottom: 1px solid #B0B0B0;
  border-left: 1px solid #B0B0B0; }
  .contacto-mensaje .foto-mensaje-perfil {
    float: left;
    margin-right: 10px; }
  .contacto-mensaje .nombre-contacto-mensaje {
    font-size: 18px;
    color: #49484D; }
  .contacto-mensaje .contactos-hablando {
    line-height: 1px;
    color: #49484D; }
  .contacto-mensaje .icons {
    float: right;
    margin-top: -40px; }
    .contacto-mensaje .icons i {
      font-size: 20px;
      color: #49484D; }
      .contacto-mensaje .icons i .icon-attachment {
        margin-right: 10px; }

.mensajes {
  background-image: url(../image/chat-panel-bg.png);
  background-color: #DCDCDC;
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  max-height: 400px;
  padding: 20px 20px 0 20px;
  overflow: auto; }
  .mensajes .mensaje {
    background-color: white;
    height: 65px;
    width: 300px;
    border-radius: 10px;
    margin: 5px 0;
    padding: 10px;
    clear: both; }
    .mensajes .mensaje .azul {
      color: #7AC6FC; }
    .mensajes .mensaje .rosa {
      color: #FC448B; }
    .mensajes .mensaje .verde {
      color: #74EFAD; }
    .mensajes .mensaje .cafe {
      color: #BC6C2C; }
  .mensajes .mensaje-respuesta1 {
    background-color: #B0D87A;
    height: 50px;
    width: 230px;
    border-radius: 10px;
    margin: 5px 0;
    padding: 10px;
    float: right; }
  .mensajes .mensaje-respuesta2 {
    background-color: #B0D87A;
    height: 50px;
    width: 170px;
    border-radius: 10px;
    margin: 5px 0;
    padding: 10px;
    margin-left: 78%;
    float: right; }
  .mensajes .fecha {
    text-align: right;
    font-size: 12px;
    margin-top: -12px; }

.escribir-mensaje {
  background-color: #DCDCDC;
  width: 100%;
  height: 100%;
  padding: 10px; }
  .escribir-mensaje .icon-insert_emoticon {
    margin: 0 10px; }
  .escribir-mensaje input.escribir {
    width: 85%;
    padding: 5px 5px;
    border-radius: 5px;
    border: none; }
  .escribir-mensaje .icon-mic {
    margin: 0 10px; }
  .escribir-mensaje .icon-mensaje-down {
    font-size: 30px;
    color: #49484D; }

/*# sourceMappingURL=main.css.map */
